/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
  --primary: #4f46e5;
  --bg: #ffffff;
  --text: #111827;
}

[data-theme='purple'] {
  --primary: #9333ea;
}

[data-theme='green'] {
  --primary: #16a34a;
}

[data-theme='orange'] {
  --primary: #ea580c;
}

[data-theme='dark'] {
  --primary: #6366f1;
  --bg: #0f172a;
  --text: #e5e7eb;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
